a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 700;
}
header {
    width: 100%;
    height: 100px;
}
header > div {
    max-width: 1000px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 60px;
}
header ul {
    display: flex;
}
header ul li{
    margin: 10px;
}
.content {
    width: 100%;
    height: 300px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content > div {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    background-color: chocolate;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content > div img {
    width: 175px;
}
.bg-shared{
    background-size: cover;
    background-attachment: center center;
    /* background-attachment: fixed; */
}
.bg-1 {
    background-image: url("./media/bg_image_1.jpg");
}
.bg-2 {
    background-image: url('./media/bg_image_2.jpg');
    background-position: bottom;
}